@using TestSite.Infrastructure
@using TestSite.Models
@using TestSite.Persistence
@{
    ViewBag.Title = "Mail";
    User user = new User();
    if (Session["User"] != null)
    {
        user = (User) Session["User"];
    }

    Mail mail = (Mail) Session["actuallMail"];
    UnitOfWork unit = new UnitOfWork(new PlutoContext());
    IEnumerable<Mail> allmails = unit.Mails.GetAll();
    IEnumerable<User> users = unit.Users.GetAll();
}


@if (mail.Type == "system")
{
    <table class="table table-striped table-hover ">
        @using (Html.BeginForm("DeleteMail", "Mail"))
        {
            <tr>
                <td hidden>
                    <input type="text" value="@mail.Id" name="Id" />
                </td>
                <td>
                    <button type="submit">Löschen</button>
                </td>
            </tr>
        }
    </table>
    <table class="table table-striped table-hover ">
        <tr>

            <th>
                @mail.Subject
            </th>
        </tr>
        <tr>

            <td>@mail.Message</td>
        </tr>
        <tr>


            <td>
                @mail.Date
            </td>
        </tr>
    </table>
}
else
{
    <table class="table table-striped table-hover ">
        @using (Html.BeginForm("DeleteMail", "Mail"))
        {
            <tr>
                <td hidden>
                    <input type="text" value="@mail.Id" name="Id" />
                </td>
                <td>
                    <button type="submit">Löschen</button>
                </td>
            </tr>
        }
    </table>
    <table class="table table-striped table-hover ">
        <tr class="success">
            <td id="td2" style="text-align: center;">
                @foreach (User use in users)
                {
                    if (use.Id == mail.CreateId.AsInt())
                    {
                        <a href="/User/Profiles?id=@use.Id">@use.Firstname @use.Lastname</a>
                        
                    }
                }

            </td>
            <td id="tddetail1">
                @mail.Subject
            </td>
        </tr>
        <tr class="success">
            <td style="text-align: center" id="td2">
                <img src="../../src/images.jpg" />
            </td>
            <td>@mail.Message</td>
        </tr>
        <tr class="success">

            @foreach (User use in users)
            {
                if (use.Id == mail.CreateId.AsInt())
                {
                    if (use.Roles == "Admin")
                    {
                        <td id="td2" style="text-align: center; color: red; font-weight: bold;">@use.Roles</td>
                    }
                    if (use.Roles == "Support")
                    {
                        <td id="td2" style="text-align: center; color: blue; font-weight: bold;">@use.Roles</td>
                    }
                    if (use.Roles == "User")
                    {
                        <td id="td2" style="text-align: center; color: black; font-weight: bold;">@use.Roles</td>
                    }
                }
            }
            <td id="tddetail">
                @mail.Date
            </td>
        </tr>
    </table>

    foreach (Mail m in allmails)
    {
        if (m.TopId == mail.Id.ToString())
        {
            <table class="table table-striped table-hover ">
                <tr class="warning">
                    <td id="td2" style="text-align: center;">
                        @foreach (User use in users)
                        {
                            if (use.Id == m.CreateId.AsInt())
                            {
                                <a href="/User/Profiles?id=@use.Id">@use.Firstname @use.Lastname</a>
                            }
                        }

                    </td>
                    <td></td>
                </tr>
                <tr class="warning">
                    <td style="text-align: center" id="td2">
                        <img src="../../src/images.jpg"/>
                    </td>
                    <td rowspan="">@m.Message</td>

                </tr>
                <tr class="warning">

                    @foreach (User use in users)
                    {
                        if (use.Id == m.CreateId.AsInt())
                        {
                            if (use.Roles == "Admin")
                            {
                                <td id="td2" style="text-align: center; color: red; font-weight: bold;">@use.Roles</td>
                            }
                            if (use.Roles == "Support")
                            {
                                <td id="td2" style="text-align: center; color: blue; font-weight: bold;">@use.Roles</td>
                            }
                            if (use.Roles == "User")
                            {
                                <td id="td2" style="text-align: center; color: black; font-weight: bold;">@use.Roles</td>
                            }
                        }
                    }
                    <td id="tddetail">
                        @m.Date
                    </td>
                </tr>
            </table>
        }
    }
    using (Html.BeginForm("SaveAnswerMail", "Mail"))
    {
        <table class="table table-striped table-hover ">
            <tr hidden>
                <td>
                    <input type="text" name="TopId" hidden value="@mail.Id" />
                </td>
                <td>
                    <input type="text" name="Type" hidden value="user" />
                </td>
                <td>
                    <input type="text" name="CreateId" hidden value="@user.Id" />
                </td>
                <td>
                    <input type="text" name="Subject" hidden value="Antwort auf @mail.CreateId" />
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <textarea type="text" name="Message" style="width: 1200px"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" style="width: 600px"> Absenden</button>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    }
    <br/>
    <br/>
}
