@using TestSite.Infrastructure
@using TestSite.Models
@using TestSite.Persistence
@{
    ViewBag.Title = "Mitglieder";
    UnitOfWork unit = new UnitOfWork(new PlutoContext());
    IEnumerable<User> user = unit.Users.GetAll();
    User actuallUser = new User();
    if (Session["User"] != null)
    {
        actuallUser = (User) Session["User"];
    }
}
@{
    int admin = 0;
    int supp = 0;
    int us = 0;
}

<h3>Registrierte Mitglieder</h3>
<style>
    a:link { color: black; }

    a:visited { color: black; }

    a:active { color: black; }

    a:hover { color: black; }
</style>
<body>
<fieldset>
    <legend style="color: red">Administratoren</legend>

    <table class="table table-striped table-hover ">
        <tr>
            <th style="width: 300px">Nr.</th>
            <th style="width: 300px">Name</th>
            <th style="width: 300px">Mail</th>

            @if (actuallUser.Roles == "Admin")
            {
                <th style="width: 300px">Degradieren</th>
                <th style="width: 300px"></th>
            }
        </tr>


        @foreach (User use in user)
        {
            <tr class="active">
                @if (use.Roles == "Admin")
                {
                    admin++;
                    <td style="width: 300px">@admin</td>
                    <td style="width: 300px">
                        <a href="/User/Profiles?id=@use.Id">@use.Firstname @use.Lastname</a>
                    </td>
                    <td style="width: 300px">@use.Mail</td>
                    if (actuallUser.Roles == "Admin")
                    {
                        <td style="width: 300px">
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <a class="btn btn-danger btn-xs" href="/User/UserRank?id=@use.Id&funk=Degradieren">Degradieren</a>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        }

    </table><br/><br/>
</fieldset>
<fieldset>
    <legend style="color: blue">Supporter</legend>

    <table class="table table-striped table-hover ">
        <tr>
            <th style="width: 300px">Nr.</th>
            <th style="width: 300px">Name</th>
            <th style="width: 300px">Mail</th>

            @if (actuallUser.Roles == "Admin")
            {
                <th style="width: 300px">Befördern/Degradieren</th>
                <th style="width: 300px"></th>
            }
        </tr>

        @foreach (User use in user)
        {
            <tr class="active">
                @if (use.Roles == "Support")
                {
                    supp++;
                    <td style="width: 300px">@supp</td>

                    <td style="width: 300px">
                        <a href="/User/Profiles?id=@use.Id">@use.Firstname @use.Lastname</a>
                    </td>
                    <td style="width: 300px">@use.Mail</td>
                    if (actuallUser.Roles == "Admin")
                    {
                        <td style="width: 300px">
                            <a class="btn btn-success btn-xs" href="/User/UserRank?id=@use.Id&funk=Befördern">Befördern</a>
                            <a class="btn btn-danger btn-xs" href="/User/UserRank?id=@use.Id&funk=Degradieren">Degradieren</a>

                        </td>
                    }
                }
            </tr>
        }

    </table><br/><br/>
</fieldset>
<fieldset>
    <legend style="color: black">Benutzer</legend>

    <table class="table table-striped table-hover ">
        <tr>
            <th style="width: 300px">Nr.</th>
            <th style="width: 300px">Name</th>
            <th style="width: 300px">Mail</th>

            @if (actuallUser.Roles == "Admin")
            {
                <th style="width: 300px">Befördern</th>
                <th style="width: 300px"></th>
            }
        </tr>
        <tr class="active">
        @foreach (User use in user)
        {
            <tr>
                @if (use.Roles == "User")
                {
                    us++;
                    <td style="width: 300px">@us</td>
                    <td style="width: 300px">
                        <a href="/User/Profiles?id=@use.Id">@use.Firstname @use.Lastname</a>
                    </td>
                    <td style="width: 300px">@use.Mail</td>
                    if (actuallUser.Roles == "Admin")
                    {
                        <td style="width: 300px">
                            <a class="btn btn-success btn-xs" href="/User/UserRank?id=@use.Id&funk=Befördern">Befördern</a>

                        </td>
                    }
                }
            </tr>
        }

    </table><br/><br/>
</fieldset>
<fieldset>
    <legend style="color: gray">Statistik</legend>
    <table>
        <tr>
            @{
                int sum = admin + supp + us;
            }
            <td style="width: 400px">Anzahl der registrierten Mitglieder:</td>
            <td style="width: 400px; text-align: center">@sum</td>
        </tr>
    </table>
</fieldset>

</body>
<footer>

</footer>